.container {
  margin-top: 2rem;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-image .image {
  width: 100%;
  height: auto;
}

.card-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
