.sidebar {
  top:0;
  min-height: 100vh;
  background-color: #1a1a1a;
  color: white;
  padding: 20px;
  width: 250px;
  position: fixed;
  overflow-y: auto;
}

.menu-label {
  color: white;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.menu-list {
  padding-left: 0;
}

.menu-list li {
  margin-bottom: 10px;
}

.menu-list a {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  transition: background 0.3s;
}

.menu-list a:hover {
  background-color: #333;
}

.menu-list i {
  margin-right: 10px;
}

.menu-list ul {
  padding-left: 20px;
  margin-top: 5px;
}

.menu-list ul li {
  margin-bottom: 5px;
}
