.top-bar {
  background-color: #1a1a1a;
  color: white;
  padding: 10px;
}

.navbar-item img {
  max-height: 40px;
}

.navbar-item .input {
  background-color: #333;
  border: none;
  color: white;
}

.navbar-item .input::placeholder {
  color: #ccc;
}

.navbar-item i {
  color: white;
  font-size: 1.2em;
}

.navbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-menu .navbar-start {
  flex-grow: 1;
}
