<?xml version="1.0" encoding="utf-8"?>
<configuration>
      <connectionStrings>
        <add name="photoConnection" connectionString="Server=localhost;Port=3306;Database=PhotoLibrerizer;Uid=photo;Pwd=password;charset=utf8;SslMode=none;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
    <appSettings>
    <add key="ClientId" value="127605460617602" />
    <add key="myConnectionString" value="Server=localhost;Database=cmsbackup5;User ID=cms;Password=albanicus$5$;Pooling=false;SslMode=none;" />
    <add key="virtualpath" value="." />
    <add key="hostname" value="http://127.0.0.1:8081" />
    <add key="DBname" value="cmsbackup5" />
    <!--<add key="pagefolder" value="rockatuestilo" />-->
    <add key="pagefolder" value="rockatuestilo" />
    <add key="SSL" value="True" />
    <!---<add key="myConnectionString" value="Server=localhost;Database=blazares;User ID=App;Password=Ahk0a38*;Pooling=false;" />
    <add key="virtualpath" value="/var/www/vhosts/blazares.com/httpdocs"/> -->
  </appSettings>
  
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>